.pa1{
    width: 300px;
    padding:20px;
  box-sizing: border-box;
   }
   .pa1 li{
     font-size: 18px;
     color:#ec3b74;
     line-height:35px;
   }
   .planesA{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    gap: 0px 0px;
    margin-bottom:20px;
    padding: 10px 30px;
    
  }

  