*{
  margin:0px;
  padding:0px;
 }
 body {
     margin: 0;
     width: 100vw;
     font-family: 'Roboto';
     font-weight: 400;
 }

 .container{
  display:flex;
  justify-content:space-around;
  align-items:center;
  background:#ec3b74;
  padding:10px;
  flex-wrap: wrap;

}
.container section{
  padding:10px;
}


header{
  width:100%;
  background:#ec3b74;
  display:flex;
  justify-content:center;
}

.personas img{
  width:150px;
    
}
 .datos{
   font-size:30px;
     font-weight:bold;
   color:#ec3b74;
   margin:10px 0;
 }
 

 /*-----------------*/
 h1{
   margin: 20px;
   color:#ec3b74;
     text-align: left;
     line-height: 4rem;
     font-size: 2.4768rem;
 }
 p{
   margin: 20px;
   color:#ec3b74;
     text-align: left;
     line-height: 4rem;
     font-size: 1.4768rem;
 }

 
 
 div h2{
   font-size:40px;
 }
 div h2 span{
   color:#b21a61;
 }
 h2{
   color:#ec3b74;
 }
 .btn{
   display:flex;
   justify-content:flex-end;
   margin: 20px;
 }
 button{
     background: #E61E64;
     color: #FFFFFF;
     font-size: 0.8669rem;
     font-family: Roboto;
     font-weight: 500;
     height: 2.8125rem;
     width: 10.625rem;
     border-radius: 30px;
   
 }
 .btn button:hover{
 cursor:pointer;
   background: #1E88E5;
     color: #FFFFFF;
 }
 /*------------*/
 .personas{
   display:flex;
   justify-content:center;
   align-items:center;
   flex-wrap:wrap;
 }
 h3{
     color:#ffff;
     line-height: 3.25rem;
     font-size: 2.6625rem;
 }
 /*------Footer-------*/



 @media (max-width: 600px){
   h1,h3, p {
     text-align: center;
   }
}


 @media (max-width: 690px){
  .personas img{
    width:100px;
   }
}

@media (max-width: 480px){
 
  .datos{
  font-size:20px;
    font-weight:bold;
  color:#ec3b74;
  margin:10px 0;
}
}
@media (max-width: 390px){
  .personas img{
    width: 70px;
  }
}